# Enterprise-only settings
enterprise:

  featureGate:
    # -- List of features that are approved.
    approved: []

    # -- Enable strict feature gate validation. Will cause agent and/or operator to
    # not start if non-approved features are enabled.
    # In non-strict mode failure will be logged as a warning.
    strict: true

  clustermesh:
    # -- Enable overlapping PodCIDR support
    enableOverlappingPodCIDRSupport: false

    mixedRoutingMode:
      # -- Enable meshing clusters configured with a different primary routing mode.
      # Inter-cluster traffic is forwarded according to the locally configured mode
      # when matching that of the target cluster, native routing if both clusters use
      # native routing, tunnel if both clusters use tunnel, and defaults to tunnel in
      # the case of a mismatch. The tunnel protocol must be configured to the same
      # value in all clusters. Limited to Cluster Scope or Kubernetes Host Scope
      # IPAM modes. Incompatible with the Direct Server Return (DSR) LB mode.
      enabled: false

    phantomServices:
    # -- Enable Phantom Services support
      enabled: false

  # -- Enables egress gateway HA
  egressGatewayHA:
    enabled: false
    # -- Time between triggers of egress gateway state reconciliations
    reconciliationTriggerInterval: 1s
    # -- Maximum number of entries in egress gateway policy map
    # maxPolicyEntries: 16384
    # -- Healthcheck timeout after which an egress gateway is marked not healthy.
    # This also configures the frequency of probes to a value of healthcheckTimeout / 2
    # healthcheckTimeout: 2s
    # -- Enables socket termination which will close client sockets on connections being
    # forwarded to a egress gateway node when the node is no longer available.
    socketTermination:
      enabled: false
    # -- Enables ICMP health probing of egress gateway nodes.
    # When enabled, the cilium-operator periodically sends ICMP echo requests
    # to gateway nodes to verify their availability.
    icmpHealthProbe:
      enabled: true
      interval: 100ms
      failureThreshold: 3

  srv6:
    # -- Enable SRv6 encapsulation support.
    enabled: false
    # -- Specify SRv6 SID encapsulation.
    encapMode: reduced
    # -- Enables custom SRv6 SID locator pool operator support.
    locatorPoolEnabled: false

  bgpControlPlane:
    # -- Enables enterprise BGP control plane
    enabled: false
    # -- Enables BGP integration with service health-checking.
    enableServiceHealthChecking: false
    # -- SecretsNamespace is the namespace which BGP support will retrieve secrets from.
    secretsNamespace:
      # -- Create secrets namespace for BGP secrets.
      create: false
      # -- The name of the secret namespace to which Cilium agents are given read access
      name: kube-system
    # -- Interval between sending unsolicited Router Advertisement messages if BGP unnumbered is enabled.
    routerAdvertisementInterval: 3s
    routerIDAllocation:
      # @schema
      # enum: ["default"]
      # @schema
      # -- BGP router-id allocation mode. In default mode, the router-id is derived
      # from the IPv4 address if it is available, or else it is determined by the
      # lower 32 bits of the MAC address of the cilium_host interface.
      # Possible values:
      # - default: Use the default router-id allocation mode.
      mode: "default"
    statusReport:
      # -- Enable/Disable enterprise BGPv2 status reporting.
      # It is recommended to enable status reporting in general, but if you have any issue
      # such as high API server load, you can disable it by setting this to false.
      enabled: true
    nodeMaintenance:
      gracefulShutdownCommunity:
        # -- Enables sending of GRACEFUL_SHUTDOWN community when node is in maintenance mode (cordoned).
        enabled: false
      # -- Withdraws routes after configured timeout post going into maintenance mode. Does not withdraw if 0 / not configured.
      withdrawTime: 0s

  bfd:
    # -- Enables Bidirectional Forwarding Detection (BFD) feature.
    enabled: false

  # -- Multi-network support (preview feature)
  multiNetwork:
    # -- Enables the multi-network feature in Cilium CNI
    enabled: false
    # -- Enable multi-network aware automatic L2 routing between nodes
    autoDirectNodeRoutes: true
    # -- Automatically creates a "default" IsovalentPodNetwork on operator startup
    autoCreateDefaultPodNetwork: true

  multicast:
    # -- Enables multicast in cilium, multicast replication works only in tunnel mode.
    enabled: false

  # -- Transparent encryption
  encryption:
    policy:
      # -- Enables support for encryption policies
      enabled: false
      # -- Defines the behavior for traffic which is not selected by an encryption policy.
      # Currently the only supported value is "plaintext", which also needs to be explicitly
      # provided for forward-compatibility with future Cilium versions (as future versions
      # might implement a different default fallback behavior).
      # @schema
      # type: [null, string]
      # @schema
      fallbackBehavior: ~
  loadbalancer:
    # -- Enables Loadbalancer mode (Control Plane)
    enabled: false
    gatewayAPI:
      # -- Enable support for Gateway API in ILB
      enabled: false

  # -- Diagnostics
  diagnostics:
    # -- Path to the file to which diagnostics status updates are appended.
    # For example "/var/run/cilium/hubble/status.log"
    # If not set the diagnostics evaluation and exporting is disabled.
    # @schema
    # type: [null, string]
    # @schema
    exportFilePath: "/var/run/cilium/hubble/status.log"

    # -- Evaluation interval
    # @schema
    # type: [string]
    # @schema
    interval: 5m

    # -- Constants as a list of key-value pairs (e.g. "foo=1.2").
    # @schema
    # type: [array]
    # @schema
    constants: []

  # Private Networks
  privateNetworks:
    # -- Enable private networks.
    #
    # Private networks enable network-level isolation between Cilium-managed
    # endpoints. Endpoints within the same private network can communicate
    # with each other, but are isolated from endpoints in other private networks.
    enabled: false

    # -- The private networks operational mode. The "bridge" mode provides
    # connectivity between cilium-managed endpoints and external endpoints
    # that belong to the same private network.
    #
    # @schema
    # enum: ["default", "bridge"]
    # @schema
    mode: default

    # Configure health checks between workload nodes and INBs.
    healthcheck:
      # -- The TCP port used for health checks.
      port: 4239

      # -- The interval for performing health checks against candidate INBs.
      # Ignored in "bridge" mode.
      interval: 2s

      # -- The timeout after which a candidate INB is considered unhealthy if
      # no health check response is received. Must be at least 50% higher than
      # the configured interval. Ignored in "bridge" mode.
      timeout: 5s

  healthServerWithoutActiveChecks:
    # -- Enable health server without active health checks.
    enabled: false

serviceAccounts:
  hubbleK8sExporter:
    create: true
    name: hubble-k8s-exporter
    automount: true
    annotations: {}

hubble:
  # -- Enables support for integrated Hubble Timescape.
  timescape:
    enabled: false
    # -- Configure the log level.
    # Valid values are: trace, debug, info, warn and error.
    logLevel: info
    # -- Experimental support for using Hubble Timescape with clustermesh.
    # If enabled, all flow log will be sent to the `primary` Timescape instance.
    clustermesh:
      primary:
        # The cluster ID of the cluster running the primary Hubble Timescape
        # instance. All flows will be sent to that cluster.
        # If the id is 0, the Timescape clustermesh feature is disabled.
        id: 0
        # The namespace in which the primary Timescape instance is running.
        # Only relevant if Cilium is not installed into the same namespace on
        # every cluster.
        namespace: ""
        # Whether to create the namespace the primary Timescape instance is
        # running in.
        createNamespace: false
    persistence:
      # -- Enables persistent storage for Hubble Timescape using a PVC. If
      # disabled, timescape will run on an ephemeral disk and all flows will be
      # lost on restart.
      enabled: false
      volumeSize: 10Gi
      # @schema
      # type: [null, string]
      # @schema
      storageClassName: ~
    # -- Roll out Timescape pods automatically when configmap is updated.
    rollOutPods: false
    # -- Configures the time-to-live for flows. Flows older than the TTL are
    # automatically pruned. This is the main method to limit storage usage
    # under normal operation. Defaults to 6 hours or 1 hour if Timescape runs
    # without persistent storage.
    # @schema
    # type: [null, string]
    # @schema
    ttl: ~
    # -- When enabled, timescape will periodically trim the number of stored
    # flows to the configured max number. NOTE: This is designed to act as a
    # fallback to prevent storage overflow in exceptional cases and not as the
    # main method to limit storage usage under normal operation. See
    # `.hubble.timescape.ttl`.
    trimmer:
      # -- Desired max number of flows stored. If 0 or null, trimming flows is
      # disabled.
      flowCount: 0
      # -- Trimmer interval, in minutes. The trimmer function will run once per
      # interval. Must be a positive integer.
      intervalMinutes: 20
      # -- Trimmer timeout specified as a Go duration. Defaults to the configured Trimmer interval.
      # Examples: 30s, 1m, 5m, 1h
      # @schema
      # type: [null, string]
      # @schema
      timout: ~
    ingester:
      k8sImporter:
        # -- Whether to enable the k8s event watcher for the K8s Importer.
        # When enabled, this effectively replaces the K8sExporter deployment.
        # If both `.hubble.timescape.ingester.k8sImporter.enabled` and
        # `.hubble.timescape.useStreamAPI` are true, vector will not be deployed.
        enabled: true
        # -- The interval at which the K8s Importer should flush k8s events to the database.
        flushInterval: "5s"
      streamAPI:
        # -- The interval at which the Stream API should flush flows to the database.
        flushInterval: "5s"
    # -- Use Stream API for Hubble Timescape.
    # This automatically enables the Hubble Timescape exporter in Cilium and the
    # Stream API in Hubble Timescape.
    # If both `.hubble.timescape.ingester.k8sImporter.enabled` and
    # `.hubble.timescape.useStreamAPI` are true, vector will not be deployed.
    useStreamAPI: true
    image:
      # @schema
      # type: [null, string]
      # @schema
      override: ~
      repository: quay.io/isovalent/hubble-timescape-lite
      tag: v1.8.3
      digest: sha256:9ca1acba33eb3d582935cda6824ba6764deb9d1e05433846dd32351ffb215c10
      useDigest: true
      pullPolicy: "Always"
    clickhouse:
      # -- Roll out hubble-timescape pod when the clickhouse configmap is updated
      # (hubble.timescape.rollOutPods must also be true).
      rollOutPods: true
      image:
        # @schema
        # type: [null, string]
        # @schema
        override: ~
        repository: quay.io/isovalent/clickhouse-server
        tag: 25.3.6.56-alpine
        digest: sha256:157423fca52f596b62a1bf301b037b9f74bfca38089aa57d1bd36c9025f7ecef
        useDigest: true
        pullPolicy: "Always"
      resources: {}
      securityContext:
        privileged: false
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 101
        runAsGroup: 101
        capabilities:
          drop:
            - ALL
    # -- Affinity for hubble-timescape
    affinity: {}
    # -- Node labels for pod assignment
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
    nodeSelector:
      kubernetes.io/os: linux
    # -- Node tolerations for pod assignment on nodes with taints
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
    tolerations: []
    priorityClassName: ""
    resources: {}
    podSecurityContext:
      fsGroup: 65532
    securityContext:
      privileged: false
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      capabilities:
        drop:
          - ALL
    tls:
      # Enable hubble timescape server TLS. Defaults to true if hubble.tls.enabled is true.
        # @schema
        # type: [null, boolean]
        # @schema
      enabled: ~
      # Configure hubble timescape server TLS.
      server:
        # -- Name of the Secret containing the certificate and key for the Hubble Timescape server.
        # If specified, the certificate and key need to be managed separately
        # and no certificate or key will be generated by the chart.
        existingSecret: ""
        # -- Extra DNS names added to certificate when it's auto generated
        extraDnsNames: []
        # -- Extra IP addresses added to certificate when it's auto generated
        extraIpAddresses: []
      # Configure hubble timescape client TLS for the PushAPI
      client:
        # -- Name of the Secret containing the certificate and key for the Timescape PushAPI client.
        # If specified, the certificate and key need to be managed separately
        # and no certificate or key will be generated by the chart.
        existingSecret: ""
    # hubble-timescape metrics configuration
    metrics:
      # -- Enables exporting timescape metrics in OpenMetrics format.
      enabled: true
      clickhouse:
        # -- Enables exporting timescape clickhouse metrics in OpenMetrics format.
        enabled: true
      serviceMonitor:
        # -- Enable service monitor.
        # This requires the prometheus CRDs to be available (see https://github.com/prometheus-operator/prometheus-operator/blob/main/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml)
        enabled: false
        # -- Labels to add to ServiceMonitor
        labels: {}
        # -- Annotations to add to ServiceMonitor
        annotations: {}
        # -- Specify the Kubernetes namespace where Prometheus expects to find
        # service monitors configured.
        # namespace: ""

        # -- Interval for scrape metrics
        interval: "10s"
        # @schema
        # type: [null, string]
        # @schema
        # -- Timeout after which scrape is considered to be failed.
        scrapeTimeout: ~
        # @schema
        # type: [null, array]
        # @schema
        # -- Relabeling configs for the ServiceMonitor
        relabelings: ~
        # @schema
        # type: [null, array]
        # @schema
        # -- Metrics relabeling configs for the ServiceMonitor
        metricRelabelings: ~
        clickhouse:
          # -- Interval for scrape metrics (Clickhouse metrics)
          interval: "10s"
          # @schema
          # type: [null, string]
          # @schema
          # -- Timeout after which scrape is considered to be failed (Clickhouse metrics)
          scrapeTimeout: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Relabeling configs for the ServiceMonitor (Clickhouse metrics)
          relabelings: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Metrics relabeling configs for the ServiceMonitor (Clickhouse metrics)
          metricRelabelings: ~
    vector:
      image:
        # @schema
        # type: [null, string]
        # @schema
        override: ~
        repository: quay.io/isovalent/vector
        tag: 0.50.0-distroless-libc
        digest: sha256:2f0769913c408e6a21dfd7cad18aa9ca590e77809a2f9c8acb03b295231c2f10
        useDigest: true
        pullPolicy: "Always"
      resources: {}
      affinity: {}
      # -- Node labels for pod assignment
      # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
      nodeSelector:
        kubernetes.io/os: linux
      # -- Node tolerations for pod assignment on nodes with taints
      # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
      tolerations: []
      priorityClassName: ""
      podSecurityContext:
        fsGroup: 0
      securityContext:
        privileged: true
        allowPrivilegeEscalation: true
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        capabilities:
          drop:
            - ALL
      # Vector metrics configuration
      metrics:
        # -- Enables exporting vector metrics in OpenMetrics format.
        enabled: true
        serviceMonitor:
          # -- Enable service monitor.
          # This requires the prometheus CRDs to be available (see https://github.com/prometheus-operator/prometheus-operator/blob/main/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml)
          enabled: false
          # -- Labels to add to ServiceMonitor
          labels: {}
          # -- Annotations to add to ServiceMonitor
          annotations: {}
          # -- Specify the Kubernetes namespace where Prometheus expects to find
          # service monitors configured.
          # namespace: ""

          # -- Interval for scrape metrics
          interval: "10s"
          # @schema
          # type: [null, string]
          # @schema
          # -- Timeout after which scrape is considered to be failed.
          scrapeTimeout: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Relabeling configs for the ServiceMonitor
          relabelings: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Metrics relabeling configs for the ServiceMonitor
          metricRelabelings: ~
    ui:
      enabled: true
      ingress:
        enabled: false
        annotations: {}
        # kubernetes.io/ingress.class: nginx
        # kubernetes.io/tls-acme: "true"
        className: ""
        hosts:
          - chart-example.local
        labels: {}
        tls: []
        #  - secretName: chart-example-tls
        #    hosts:
        #      - chart-example.local
      route:
        # -- Whether to create a Gateway API 'HTTPRoute' resource.
        enabled: false
        # -- Labels to add to the route.
        labels: {}
        # -- Annotations to add to the route.
        annotations: {}
        # -- Parent references for the route.
        parentRefs: []
        # -- Hostnames for the route.
        hostnames: []
        # -- Additional rules for the route.
        additionalRules: []
        # -- Filters to apply to the route.
        filters: []
        # -- Path matches for the route.
        matches:
          - path:
              type: PathPrefix
              value: /
      auth:
        # @schema
        # type: [null, boolean]
        # @schema
        enabled: ~
        # -- UI session key is used to encrypt the UI session state. Should be a randomly
        # generated password with at least 16 characters.
        sessionKey:
          secretName: hubble-timescape-ui
          secretKey: session-key
        oidc:
          # -- OIDC Server discovery endpoint URL.
          # e.g. https://my-account.okta.com/oauth2/default/.well-known/openid-configuration
          # Will default to `.hubble.rbac.auth.oidc.issuerURL` when RBAC is enabled.
          # @schema
          # type: [null, string]
          # @schema
          issuerURL: ~
          # -- OIDC custom CA to verify against.
          # Will default to `.hubble.rbac.auth.oidc.ca` when RBAC is enabled.
          issuerCA:
            configMap:
              # @schema
              # type: [null, string]
              # @schema
              name: ~
              key: "ca.crt"
          # -- OID redirect URL.
          # The URL to redirect to, after the application was authorized. This need to be
          # set to URI_USED_TO_ACCESS_TIMESCAPE_UI/oauth2/callback.
          # When the Timescape UI is exposed through `.hubble.timescape.ui.ingress`, the redirect URL will be
          # populated automatically, using the first hostname
          # @schema
          # type: [null, string]
          # @schema
          redirectURL: ~
          # -- OIDC application client ID
          # @schema
          # type: [null, string]
          # @schema
          clientID: ~
          # -- OIDC application client secret
          clientSecret:
            secretName: hubble-timescape-ui
            secretKey: client-secret
          # -- Client assertion type. Set to urn:ietf:params:oauth:client-assertion-type:jwt-bearer to use a JWT.
          # @schema
          # type: [null, string]
          # @schema
          clientAssertionType: ~
          # -- The file containing the client assertion to use if clientAssertionType is set.
          # @schema
          # type: [null, string]
          # @schema
          clientAssertionFile: ~
          # -- The OAuth2 scopes to send to the OIDC provider.
          scopes: ["openid", "email", "offline_access"]
          # -- OIDC user claim to extract from the id_token.
          # The extracted value is used to uniquely identifier the user and perform
          # authorization when RBAC is enabled.
          idTokenUserClaim: email
          # -- OIDC auth code redirect URL extra fields.
          # Enrich the auth code redirect URL with extra fields in the query section.
          # Such fields are sometimes required in environments that are using a non
          # standard OIDC implementation.
          extraFields: []
          # extraFields:
          #   - key: resource
          #     value: example
    analyzer:
      # -- Enables the Hubble Timescape analyzer responsible for generating
      # Network Security assessment reports. Note that k8sExporter must also
      # be enabled for the analyzer to work properly as it relies on Cilium
      # Identities.
      enabled: false
      # -- The interval at which the analyzer will run and generate a new assessment report.
      # When a run goes beyond this interval, the next one will start as soon as the running
      # one is completed.
      scheduleInterval: "24h"
  # -- Enables experimental support for using the Hubble Kubernetes Events Exporter.
  # The exporter is enabled by default when using integrated Hubble Timescape
  k8sExporter:
    # @schema
    # type: [null, boolean]
    # @schema
    enabled: ~
    image:
      # @schema
      # type: [null, string]
      # @schema
      override: ~
      repository: quay.io/isovalent/hubble-k8s-exporter
      tag: v1.8.3
      digest: sha256:dc5f3de94df0c5ec309cdac2dbcb1000eb5c04f8b0751c14c6e8641192bf556c
      useDigest: true
      pullPolicy: "Always"
    # -- Specifies the resources for the hubble-k8s-exporter pods
    resources: {}
    # -- Affinity for hubble-k8s-exporter
    affinity: {}
    # -- Node labels for pod assignment
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
    nodeSelector:
      kubernetes.io/os: linux
    # -- Node tolerations for pod assignment on nodes with taints
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
    tolerations: []
    priorityClassName: ""
    # -- Annotations to be added to hubble-k8s-exporter pods
    podAnnotations: {}
    podSecurityContext:
      fsGroup: 65532
    # -- hubble-k8s-exporter container security context
    securityContext:
      # readOnlyRootFilesystem: true
      runAsUser: 0
      capabilities:
        drop:
          - ALL
    export:
      # Absolute path of the export file location
      filePath: "/var/run/cilium/hubble/k8s-events.log"
      # Compress rotated files
      fileCompression: true
      # Interval at which to rotate JSON export files in addition to rotating them by size
      fileRotationInterval: 0s
      # Maximum size of the file in megabytes
      maxFileSize: 50
      # Number of rotated files to keep
      maxFileBackups: 3
  # -- Enables experimental support for using Hubble RBAC with Hubble Relay.
  # This is incompatible with Hubble RBAC installed via the Hubble Enterprise chart.
  rbac:
    # -- Enables hubble-rbac by running it as a sidecar in hubble-relay.
    enabled: false
    image:
      # @schema
      # type: [null, string]
      # @schema
      override: ~
      repository: quay.io/isovalent/hubble-rbac
      tag: v1.10.5
      digest: sha256:30b13744a41efbe2849e0a7e47bade03f18a61c58ef9394f5b0ea785ac19e17f
      useDigest: true
      pullPolicy: "Always"
    extraArgs: {}
    extraEnv: []
    # extraEnv:
    #   - name: foo
    #     value: bar
    resources: {}
    securityContext:
      privileged: false
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      capabilities:
        drop:
          - ALL

    loggingLevel: info

    # -- Whether to use native Kubernetes gRPC-based probes (startup, liveness, readiness)
    # which are stable since Kubernetes 1.27. If false, fallback to tcpSocket probes.
    useKubernetesGrpcProbes: true
    healthCheckPort: 8079

    listenPort: 4245

    auth:
      oidc:
        # @schema
        # type: [null, string]
        # @schema
        issuerUrl: ~
        # @schema
        # type: [null, string]
        # @schema
        clientID: ~
        ca:
          configMap:
            # @schema
            # type: [null, string]
            # @schema
            name: ~
            key: "ca.crt"

    # -- Options to configure the Hubble RBAC authorization policy.
    # The policy can be defined inline in the configMap.bindings and
    # configMap.roles field, or in a separate configMap specified by the
    # configMap.name.
    policy:
      # -- Whether to enable logging of a user's roles to debug logs when they
      # authenticate and make requests.
      logRoles: false
      configMap:
        # -- Whether to create the config map from where the mapping between claims
        # and roles is read. If set to 'false' the user must create the config map
        # out-of-band. Hubble Relay will not start until the config map is
        # in place.
        create: true
        # -- (Advanced) The name of the config map containing the policy document.
        # If managed out-of-band, the config map must have the name defined here.
        # Most users won't need to customize this.
        name: hubble-rbac-policy
        # -- (Advanced) The name of the config map key containing the policy
        # document. If managed out-of-band, the config map must contain the policy
        # document under this key. Most users won't need to customize this.
        key: hubble-rbac-policy.yaml

        # -- The list of roles to define.
        roles: []
        # -- The list of bindings between claims and roles.
        bindings: []
  export:
    static:
      # --- Defines interval at which to rotate output file (15s, 5m, 1h).
      # Leave unset or set to 0s to disable time-based file rotation.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `0s`
      fileRotationInterval: ~
      # --- Defines API format used to encode output file.
      # Set to '' to use legacy format.
      formatVersion: v1
      # --- Defines the amount of events to allow per minute before being rate-limited.
      # Leave unset or set to -1 to disable rate-limiting.
      # @schema
      # type: [null, integer]
      # @schema
      # @default -- `-1`
      rateLimit: ~
      # --- Override the node_name field in exported events.
      # @schema
      # type: [null, string]
      # @schema
      overrideNodeName: ~
      # --- Defines the aggregation to perform pre-storage ('connection', 'identity').
      # Leave empty to disable aggregation.
      # @schema
      # type: [null, array]
      # @schema
      aggregation: ~
      # --- Defines whether to ignore source port during aggregation.
      # @schema
      # type: [null, boolean]
      # @schema
      # @default -- `true`
      aggregationIgnoreSourcePort: ~
      # --- Defines whether to renew the flow TTL when a new flow is observed.
      # @schema
      # type: [null, boolean]
      # @schema
      # @default -- `true`
      aggregationRenewTTL: ~
      # --- Defines the state changes to include while aggregating
      # ('new', 'established', 'first_error', 'error', 'closed').
      # @schema
      # type: [null, array]
      # @schema
      # @default -- `["new", "error", "closed"]`
      aggregationStateFilter: ~
      # --- Defines the TTL for flow aggregation.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `30s`
      aggregationTTL: ~
    dynamic:
      config:
        content:
          - name: all
            fieldMask: []
            includeFilters: []
            excludeFilters: []
            filePath: "/var/run/cilium/hubble/events.log"
            fileMaxSizeMb: 10
            fileMaxBackups: 5
            fileCompress: false
            fileRotationInterval: 0s
            formatVersion: v1
            rateLimit: -1
            nodeName: null
            aggregation: []
            aggregationIgnoreSourcePort: true
            aggregationRenewTTL: true
            aggregationStateFilter: ["new", "error", "closed"]
            aggregationTTL: 30s
            #   - name: "test002"
            #     filePath: "/var/log/network/flow-log/pa/test002.log"
            #     fieldMask: ["source.namespace", "source.pod_name", "destination.namespace", "destination.pod_name", "verdict"]
            #     includeFilters:
            #     - source_pod: ["default/"]
            #       event_type:
            #       - type: 1
            #     - destination_pod: ["frontend/nginx-975996d4c-7hhgt"]
            #     excludeFilters: []
            #     fileMaxSizeMb: 1
            #     fileMaxBackups: 10
            #     fileCompress: true
            #     end: "2023-10-09T23:59:59-07:00"
            #     fileRotationInterval: 1m
            #     formatVersion: ''
            #     rateLimit: 100
            #     nodeName: my-node
            #     aggregation: ["connection", "identity"]
            #     aggregationIgnoreSourcePort: false
            #     aggregationRenewTTL: false
            #     aggregationStateFilter: ["established", "first_error"]
            #     aggregationTTL: 1m
    timescape:
      # -- Enable the Hubble timescape exporter.
      # @schema
      # type: [null, boolean]
      # @schema
      enabled: ~
      # -- The target server to connect to for exporting flows.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `hubble-timescape-export.hubble-timescape.svc.cluster.local:4261`
      target: ~
      # -- The list of fields to include in exported events.
      # Leave empty to include all fields.
      # @schema
      # type: [null, array]
      # @schema
      fieldMask: ~
      # --- The list of allow filters to apply to exported events.
      # Leave empty to not apply any filters.
      #
      # Each filter is a JSON object with the field to filter on as key and the
      # values to match as value. The filter is applied as an AND operation.
      #
      # @schema
      # type: [null, array]
      # @schema
      allowList: ~
      # --- The list of deny filters to apply to exported events.
      # Leave empty to not apply any filters.
      #
      # Each filter is a JSON object with the field to filter on as key and the
      # values to match as value. The filter is applied as an AND operation.
      #
      # @schema
      # type: [null, array]
      # @schema
      denyList: ~
      # --- The name used to override the node_name field in exported events.
      # Leave empty to not override the node_name field.
      # @schema
      # type: [null, string]
      # @schema
      nodeName: ~
      # --- Defines the aggregation to perform pre-storage ('connection', 'identity').
      # Leave empty to disable aggregation.
      # @schema
      # type: [null, array]
      # @schema
      aggregation: ~
      # --- Defines whether to ignore source port during aggregation.
      # @schema
      # type: [null, boolean]
      # @schema
      # @default -- `true`
      aggregationIgnoreSourcePort: ~
      # --- Defines whether to renew the flow TTL when a new flow is observed.
      # @schema
      # type: [null, boolean]
      # @schema
      # @default -- `true`
      aggregationRenewTTL: ~
      # --- Defines the state changes to include while aggregating
      # ('new', 'established', 'first_error', 'error', 'closed').
      # @schema
      # type: [null, array]
      # @schema
      # @default -- `["new", "error", "closed"]`
      aggregationStateFilter: ~
      # --- Defines the TTL for flow aggregation.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `30s`
      aggregationTTL: ~
      # -- The maximum number of flows to buffer before dropping them.
      # @schema
      # type: [null, integer]
      # @schema
      # @default -- `4096`
      maxBufferSize: ~
      # -- The interval at which to report dropped flows in logs.
      # Set to 0s to disable reporting.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `1m`
      reportDroppedFlowsInterval: ~
      tls:
        # -- Enable client TLS for the Hubble timescape exporter.
        # @schema
        # type: [null, boolean]
        # @schema
        enabled: ~
        mtls:
          # -- Enable mTLS for the Hubble timescape exporter.
          # @schema
          # type: [null, boolean]
          # @schema
          enabled: ~
          # -- The name of the Secret containing the TLS material to enable mTLS.
          # The secret must be of type `kubernetes.io/tls`.
          # @schema
          # type: [null, string]
          # @schema
          secretName: ~
        ca:
          # -- The configmap containing the CA to validate the server certificate.
          configMap:
            # -- The name of the configmap containing the CA certificate.
            # @schema
            # type: [null, string]
            # @schema
            name: ~
            # -- The key in the configmap containing the CA certificate.
            # @schema
            # type: [null, string]
            # @schema
            # @default -- `ca.crt`
            key: ~
    connectionlog:
      # -- Enables experimental support for ConnectionLog export.
      # @schema
      # type: [boolean]
      # @schema
      enabled: false
      # --- Interval at which ConnectionLog are collected and written on disk.
      # @schema
      # type: [string]
      # @schema
      exportInterval: "10s"
      # --- Absolute path of the ConnectionLog export file location.
      # @schema
      # type: [string]
      # @schema
      filePath: "/var/run/cilium/hubble/connectionlog.log"
      # --- The maximum size in megabytes of the log file before it gets
      # rotated.
      # @schema
      # type: [integer]
      # @schema
      fileMaxSizeMb: 10
      # --- The maximum number of exported files to retain.
      # @schema
      # type: [integer]
      # @schema
      fileMaxBackups: 5
      # --- determines if the rotated files should be compressed.
      # using gzip.
      # @schema
      # type: [boolean]
      # @schema
      fileCompress: true

envoyConfig:
  policy:
    # @schema
    # oneOf:
    # - type: [null]
    # - enum: [global,dedicated]
    # @schema
    # -- Enable a dedicated policy enforcement for each CiliumEnvoyConfig instead of using the ClusterwideCiliumNetworkPolicy.
    mode: "global"
    # -- Interval in which the related policy will be regenerated.
    # Applies to the dedicated mode only
    regenerationInterval: 30s

envoy:
  # -- Configure Cilium Envoy graceful shutdown.
  gracefulRestart:
    # -- Enables graceful shutdown and draining of traffic for Envoy pods in a standalone DaemonSet.
    # During rolling update 2 pods of Cilium Envoy will exist per node (new and old). All new connections will go to the new pod
    # and traffic will be gracefully drained on the old pod. Proxy will send “Connection: close” for HTTP1 requests
    # or HTTP2 GOAWAY for HTTP2 requests and terminate connections on request completion. When enabling `gracefulRestart` for
    # cilium-envoy daemonset make sure to configure `envoy.terminationGracePeriodSeconds` to a sufficiently large value to allow
    # traffic to drain (e.g. 60 seconds).
    enabled: false
