# Enterprise-only settings
enterprise:

  featureGate:
    # -- List of features that are approved.
    approved: []

    # -- Enable strict feature gate validation. Will cause agent and/or operator to
    # not start if non-approved features are enabled.
    # In non-strict mode failure will be logged as a warning.
    strict: true

  clustermesh:
    # -- Enable overlapping PodCIDR support
    enableOverlappingPodCIDRSupport: false

    mixedRoutingMode:
      # -- Enable meshing clusters configured with a different primary routing mode.
      # Inter-cluster traffic is forwarded according to the locally configured mode
      # when matching that of the target cluster, native routing if both clusters use
      # native routing, tunnel if both clusters use tunnel, and defaults to tunnel in
      # the case of a mismatch. The tunnel protocol must be configured to the same
      # value in all clusters. Limited to Cluster Scope or Kubernetes Host Scope
      # IPAM modes. Incompatible with the Direct Server Return (DSR) LB mode.
      enabled: false

    phantomServices:
    # -- Enable Phantom Services support
      enabled: false

  # -- Enables egress gateway HA
  egressGatewayHA:
    enabled: false
    # -- Time between triggers of egress gateway state reconciliations
    reconciliationTriggerInterval: 1s
    # -- Maximum number of entries in egress gateway policy map
    # maxPolicyEntries: 16384
    # -- Healthcheck timeout after which an egress gateway is marked not healthy.
    # This also configures the frequency of probes to a value of healthcheckTimeout / 2
    # healthcheckTimeout: 2s
    # -- Enables socket termination which will close client sockets on connections being
    # forwarded to a egress gateway node when the node is no longer available.
    socketTermination:
      enabled: false

  srv6:
    # -- Enable SRv6 encapsulation support.
    enabled: false
    # -- Specify SRv6 SID encapsulation.
    encapMode: reduced
    # -- Enables custom SRv6 SID locator pool operator support.
    locatorPoolEnabled: false

  bgpControlPlane:
    # -- Enables enterprise BGP control plane
    enabled: false
    # -- Enables BGP integration with service health-checking.
    enableServiceHealthChecking: false
    # -- SecretsNamespace is the namespace which BGP support will retrieve secrets from.
    secretsNamespace:
      # -- Create secrets namespace for BGP secrets.
      create: false
      # -- The name of the secret namespace to which Cilium agents are given read access
      name: kube-system
    # -- Interval between sending unsolicited Router Advertisement messages if BGP unnumbered is enabled.
    routerAdvertisementInterval: 3s
    routerIDAllocation:
      # @schema
      # enum: ["default"]
      # @schema
      # -- BGP router-id allocation mode. In default mode, the router-id is derived
      # from the IPv4 address if it is available, or else it is determined by the
      # lower 32 bits of the MAC address of the cilium_host interface.
      # Possible values:
      # - default: Use the default router-id allocation mode.
      mode: "default"
    statusReport:
      # -- Enable/Disable enterprise BGPv2 status reporting.
      # It is recommended to enable status reporting in general, but if you have any issue
      # such as high API server load, you can disable it by setting this to false.
      enabled: true

  bfd:
    # -- Enables Bidirectional Forwarding Detection (BFD) feature.
    enabled: false

  # -- Multi-network support (preview feature)
  multiNetwork:
    # -- Enables the multi-network feature in Cilium CNI
    enabled: false
    # -- Enable multi-network aware automatic L2 routing between nodes
    autoDirectNodeRoutes: true
    # -- Automatically creates a "default" IsovalentPodNetwork on operator startup
    autoCreateDefaultPodNetwork: true

  multicast:
    # -- Enables multicast in cilium, multicast replication works only in tunnel mode.
    enabled: false

  ciliummesh:
    # -- Enables Cilium Mesh
    enabled: false

  # -- Transparent encryption
  encryption:
    policy:
      # -- Enables support for encryption policies
      enabled: false
      # -- Defines the behavior for traffic which is not selected by an encryption policy.
      # Currently the only supported value is "plaintext", which also needs to be explicitly
      # provided for forward-compatibility with future Cilium versions (as future versions
      # might implement a different default fallback behavior).
      # @schema
      # type: [null, string]
      # @schema
      fallbackBehavior: ~
  loadbalancer:
    # -- Enables Loadbalancer mode (Control Plane)
    enabled: false

  healthServerWithoutActiveChecks:
    # -- Enable health server without active health checks.
    enabled: false

serviceAccounts:
  hubbleK8sExporter:
    create: true
    name: hubble-k8s-exporter
    automount: true
    annotations: {}

hubble:
  # -- Enables support for integrated Hubble Timescape.
  timescape:
    enabled: false
    persistence:
      # -- Enables persistent storage for Hubble Timescape using a PVC. If
      # disabled, timescape will run on an ephemeral disk and all flows will be
      # lost on restart.
      enabled: false
      volumeSize: 10Gi
      # @schema
      # type: [null, string]
      # @schema
      storageClassName: ~
    # -- Configures the time-to-live for flows. Flows older than the TTL are
    # automatically pruned. This is the main method to limit storage usage
    # under normal operation. Defaults to 6 hours or 1 hour if Timescape runs
    # without persistent storage.
    # @schema
    # type: [null, string]
    # @schema
    ttl: ~
    # -- When enabled, timescape will periodically trim the number of stored
    # flows to the configured max number. NOTE: This is designed to act as a
    # fallback to prevent storage overflow in exceptional cases and not as the
    # main method to limit storage usage under normal operation. See
    # `.hubble.timescape.ttl`.
    trimmer:
      # -- Desired max number of flows stored. If 0 or null, trimming flows is
      # disabled.
      flowCount: 0
      # -- Trimmer interval, in minutes. The trimmer function will run once per
      # interval. Must be a positive integer.
      intervalMinutes: 20
      # -- Trimmer timeout specified as a Go duration. Defaults to the configured Trimmer interval.
      # Examples: 30s, 1m, 5m, 1h
      # @schema
      # type: [null, string]
      # @schema
      timout: ~
    image:
      # @schema
      # type: [null, string]
      # @schema
      override: ~
      repository: quay.io/isovalent/hubble-timescape
      tag: v1.6.0
      digest: ""
      useDigest: false
      pullPolicy: "Always"
    clickhouse:
      image:
        # @schema
        # type: [null, string]
        # @schema
        override: ~
        repository: docker.io/clickhouse/clickhouse-server
        tag: 24.8.12.28-alpine
        digest: "sha256:7347456e171a6ec64650eb53000d682b8484192b9adeae1f9642699963b5879f"
        useDigest: true
        pullPolicy: "Always"
      resources: {}
      securityContext:
        privileged: false
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 101
        runAsGroup: 101
        capabilities:
          drop:
            - ALL
    # -- Affinity for hubble-timescape
    affinity: {}
    # -- Node labels for pod assignment
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
    nodeSelector:
      kubernetes.io/os: linux
    # -- Node tolerations for pod assignment on nodes with taints
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
    tolerations: []
    priorityClassName: ""
    resources: {}
    podSecurityContext:
      fsGroup: 65532
    securityContext:
      privileged: false
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      capabilities:
        drop:
          - ALL
    tls:
      # Enable hubble timescape server TLS. Defaults to true if hubble.tls.enabled is true.
        # @schema
        # type: [null, boolean]
        # @schema
      enabled: ~
      # Configure hubble timescape server TLS.
      server:
        # -- Name of the Secret containing the certificate and key for the Hubble Timescape server.
        # If specified, the certificate and key need to be managed separately
        # and no certificate or key will be generated by the chart.
        existingSecret: ""
        # -- Extra DNS names added to certificate when it's auto generated
        extraDnsNames: []
        # -- Extra IP addresses added to certificate when it's auto generated
        extraIpAddresses: []
      # Configure hubble timescape client TLS for the PushAPI
      client:
        # -- Name of the Secret containing the certificate and key for the Timescape PushAPI client.
        # If specified, the certificate and key need to be managed separately
        # and no certificate or key will be generated by the chart.
        existingSecret: ""
    # hubble-timescape metrics configuration
    metrics:
      # -- Enables exporting timescape metrics in OpenMetrics format.
      enabled: true
      clickhouse:
        # -- Enables exporting timescape clickhouse metrics in OpenMetrics format.
        enabled: true
      serviceMonitor:
        # -- Enable service monitor.
        # This requires the prometheus CRDs to be available (see https://github.com/prometheus-operator/prometheus-operator/blob/main/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml)
        enabled: false
        # -- Labels to add to ServiceMonitor
        labels: {}
        # -- Annotations to add to ServiceMonitor
        annotations: {}
        # -- Specify the Kubernetes namespace where Prometheus expects to find
        # service monitors configured.
        # namespace: ""

        # -- Interval for scrape metrics
        interval: "10s"
        # @schema
        # type: [null, string]
        # @schema
        # -- Timeout after which scrape is considered to be failed.
        scrapeTimeout: ~
        # @schema
        # type: [null, array]
        # @schema
        # -- Relabeling configs for the ServiceMonitor
        relabelings: ~
        # @schema
        # type: [null, array]
        # @schema
        # -- Metrics relabeling configs for the ServiceMonitor
        metricRelabelings: ~
        clickhouse:
          # -- Interval for scrape metrics (Clickhouse metrics)
          interval: "10s"
          # @schema
          # type: [null, string]
          # @schema
          # -- Timeout after which scrape is considered to be failed (Clickhouse metrics)
          scrapeTimeout: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Relabeling configs for the ServiceMonitor (Clickhouse metrics)
          relabelings: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Metrics relabeling configs for the ServiceMonitor (Clickhouse metrics)
          metricRelabelings: ~
    vector:
      image:
        # @schema
        # type: [null, string]
        # @schema
        override: ~
        repository: quay.io/isovalent/vector
        tag: 0.44.0-distroless-libc
        digest: ""
        useDigest: false
        pullPolicy: "Always"
      resources: {}
      affinity: {}
      # -- Node labels for pod assignment
      # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
      nodeSelector:
        kubernetes.io/os: linux
      # -- Node tolerations for pod assignment on nodes with taints
      # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
      tolerations: []
      priorityClassName: ""
      podSecurityContext:
        fsGroup: 0
      securityContext:
        privileged: false
        allowPrivilegeEscalation: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        capabilities:
          drop:
            - ALL
      # Vector metrics configuration
      metrics:
        # -- Enables exporting vector metrics in OpenMetrics format.
        enabled: true
        serviceMonitor:
          # -- Enable service monitor.
          # This requires the prometheus CRDs to be available (see https://github.com/prometheus-operator/prometheus-operator/blob/main/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml)
          enabled: false
          # -- Labels to add to ServiceMonitor
          labels: {}
          # -- Annotations to add to ServiceMonitor
          annotations: {}
          # -- Specify the Kubernetes namespace where Prometheus expects to find
          # service monitors configured.
          # namespace: ""

          # -- Interval for scrape metrics
          interval: "10s"
          # @schema
          # type: [null, string]
          # @schema
          # -- Timeout after which scrape is considered to be failed.
          scrapeTimeout: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Relabeling configs for the ServiceMonitor
          relabelings: ~
          # @schema
          # type: [null, array]
          # @schema
          # -- Metrics relabeling configs for the ServiceMonitor
          metricRelabelings: ~
    ui:
      enabled: true
      image:
        # @schema
        # type: [null, string]
        # @schema
        override: ~
        repository: quay.io/isovalent/hubble-timescape-ui
        tag: "v1.6.0"
        pullPolicy: IfNotPresent
      securityContext:
        # readOnlyRootFilesystem: true
        privileged: false
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        capabilities:
          drop:
            - ALL
      resources: {}
      ingress:
        enabled: false
        annotations: {}
        # kubernetes.io/ingress.class: nginx
        # kubernetes.io/tls-acme: "true"
        className: ""
        hosts:
          - chart-example.local
        labels: {}
        tls: []
        #  - secretName: chart-example-tls
        #    hosts:
        #      - chart-example.local
      auth:
        # @schema
        # type: [null, boolean]
        # @schema
        enabled: ~
        # -- UI session key is used to encrypt the UI session state. Should be a randomly
        # generated password with at least 16 characters.
        sessionKey:
          secretName: hubble-timescape-ui
          secretKey: session-key
        oidc:
          # -- OIDC Server discovery endpoint URL.
          # e.g. https://my-account.okta.com/oauth2/default/.well-known/openid-configuration
          # Will default to `.hubble.rbac.auth.oidc.issuerURL` when RBAC is enabled.
          # @schema
          # type: [null, string]
          # @schema
          issuerURL: ~
          # -- OIDC custom CA to verify against.
          # Will default to `.hubble.rbac.auth.oidc.ca` when RBAC is enabled.
          issuerCA:
            configMap:
              # @schema
              # type: [null, string]
              # @schema
              name: ~
              key: "ca.crt"
          # -- OID redirect URL.
          # The URL to redirect to, after the application was authorized. This need to be
          # set to URI_USED_TO_ACCESS_TIMESCAPE_UI/oauth2/callback.
          # When the Timescape UI is exposed through `.hubble.timescape.ui.ingress`, the redirect URL will be
          # populated automatically, using the first hostname
          # @schema
          # type: [null, string]
          # @schema
          redirectURL: ~
          # -- OIDC application client ID
          # @schema
          # type: [null, string]
          # @schema
          ClientID: ~
          # -- OIDC application client secret
          clientSecret:
            secretName: hubble-timescape-ui
            secretKey: client-secret
  # -- Enables experimental support for using the Hubble Kubernetes Events Exporter.
  # The exporter is enabled by default when using integrated Hubble Timescape
  k8sExporter:
    # @schema
    # type: [null, boolean]
    # @schema
    enabled: ~
    image:
      # @schema
      # type: [null, string]
      # @schema
      override: ~
      repository: quay.io/isovalent/hubble-k8s-exporter
      tag: "v1.6.1"
      digest: ""
      useDigest: false
      pullPolicy: "Always"
    # -- Specifies the resources for the hubble-k8s-exporter pods
    resources: {}
    # -- Affinity for hubble-k8s-exporter
    affinity: {}
    # -- Node labels for pod assignment
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
    nodeSelector:
      kubernetes.io/os: linux
    # -- Node tolerations for pod assignment on nodes with taints
    # ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
    tolerations: []
    priorityClassName: ""
    # -- Annotations to be added to hubble-k8s-exporter pods
    podAnnotations: {}
    podSecurityContext:
      fsGroup: 65532
    # -- hubble-k8s-exporter container security context
    securityContext:
      # readOnlyRootFilesystem: true
      runAsUser: 0
      capabilities:
        drop:
          - ALL
    export:
      # Absolute path of the export file location
      filePath: "/var/run/cilium/hubble/k8s-events.log"
      # Compress rotated files
      fileCompression: true
      # Interval at which to rotate JSON export files in addition to rotating them by size
      fileRotationInterval: 0s
      # Maximum size of the file in megabytes
      maxFileSize: 50
      # Number of rotated files to keep
      maxFileBackups: 3
  # -- Enables experimental support for using Hubble RBAC with Hubble Relay.
  # This is incompatible with Hubble RBAC installed via the Hubble Enterprise chart.
  rbac:
    # -- Enables hubble-rbac by running it as a sidecar in hubble-relay.
    enabled: false
    image:
      # @schema
      # type: [null, string]
      # @schema
      override: ~
      repository: quay.io/isovalent/hubble-rbac
      tag: v1.8.1
      digest: ""
      useDigest: false
      pullPolicy: "Always"
    extraArgs: {}
    extraEnv: []
    # extraEnv:
    #   - name: foo
    #     value: bar
    resources: {}
    securityContext:
      privileged: false
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      capabilities:
        drop:
          - ALL

    loggingLevel: info

    listenPort: 4245

    auth:
      oidc:
        # @schema
        # type: [null, string]
        # @schema
        issuerUrl: ~
        # @schema
        # type: [null, string]
        # @schema
        clientID: ~
        ca:
          configMap:
            # @schema
            # type: [null, string]
            # @schema
            name: ~
            key: "ca.crt"

    # -- Options to configure the Hubble RBAC authorization policy.
    # The policy can be defined inline in the configMap.bindings and
    # configMap.roles field, or in a separate configMap specified by the
    # configMap.name.
    policy:
      # -- Whether to enable logging of a user's roles to debug logs when they
      # authenticate and make requests.
      logRoles: false
      configMap:
        # -- Whether to create the config map from where the mapping between claims
        # and roles is read. If set to 'false' the user must create the config map
        # out-of-band. Hubble Relay will not start until the config map is
        # in place.
        create: true
        # -- (Advanced) The name of the config map containing the policy document.
        # If managed out-of-band, the config map must have the name defined here.
        # Most users won't need to customize this.
        name: hubble-rbac-policy
        # -- (Advanced) The name of the config map key containing the policy
        # document. If managed out-of-band, the config map must contain the policy
        # document under this key. Most users won't need to customize this.
        key: hubble-rbac-policy.yaml

        # -- The list of roles to define.
        roles: []
        # -- The list of bindings between claims and roles.
        bindings: []
  export:
    static:
      # --- Defines interval at which to rotate output file (15s, 5m, 1h).
      # Leave unset or set to 0s to disable time-based file rotation.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `0s`
      fileRotationInterval: ~
      # --- Defines API format used to encode output file.
      # Set to '' to use legacy format.
      formatVersion: v1
      # --- Defines the amount of events to allow per minute before being rate-limited.
      # Leave unset or set to -1 to disable rate-limiting.
      # @schema
      # type: [null, integer]
      # @schema
      # @default -- `-1`
      rateLimit: ~
      # --- Override the node_name field in exported events.
      # @schema
      # type: [null, string]
      # @schema
      overrideNodeName: ~
      # --- Defines the aggregation to perform pre-storage ('connection', 'identity').
      # Leave empty to disable aggregation.
      # @schema
      # type: [null, array]
      # @schema
      aggregation: ~
      # --- Defines whether to ignore source port during aggregation.
      # @schema
      # type: [null, boolean]
      # @schema
      # @default -- `true`
      aggregationIgnoreSourcePort: ~
      # --- Defines whether to renew the flow TTL when a new flow is observed.
      # @schema
      # type: [null, boolean]
      # @schema
      # @default -- `true`
      aggregationRenewTTL: ~
      # --- Defines the state changes to include while aggregating
      # ('new', 'established', 'first_error', 'error', 'closed').
      # @schema
      # type: [null, array]
      # @schema
      # @default -- `["new", "error", "closed"]`
      aggregationStateFilter: ~
      # --- Defines the TTL for flow aggregation.
      # @schema
      # type: [null, string]
      # @schema
      # @default -- `30s`
      aggregationTTL: ~
